* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #f2f2fc;
}
::selection {
  background-color: #000000;
  color: #ffffff;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f2f2fc;
}
::-webkit-scrollbar-thumb {
  background: #bebef5;
  transition: all 0.4s ease-in;
}
::-webkit-scrollbar-thumb:hover {
  background: #9d9dd1;
}

section {
  padding: 50px 0;
}
.box {
  padding: 1%;
}
.max-width {
  max-width: 1300px;
  padding: 0 100px;
  margin: auto 0;
}
.about,
.contact,
.services,
.skills,
.teams,
footer {
  font-family: Poppins, sans-serif;
}
.about .about-content,
.contact .contact-content,
.services .serv-content,
.skills .skills-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-family: Ubuntu, sans-serif;
  text-transform: capitalize;
  color: #000;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #dc143c;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #dc143c;
  padding: 0 5px;
  background: #000 !important;
  transform: translateX(-50%);
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: Ubuntu, sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: #000;
  z-index: 4;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: #fc0;
  transition: all 0.3s ease;
  font-size: 33px;
}
.navbar.sticky .logo a span {
  color: #fff;
  font: 33px;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #fc0;
}
.navbar.sticky .menu li a:hover {
  color: #fff;
}
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn i {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.scroll-up-btn i {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #fc0;
  right: 20px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #000;
  z-index: 1;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 50px;
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}
.scroll-up-btn:hover {
  background-color: #000;
  color: #fc0;
}
.home {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(58, 56, 56, 0.911)),
    url(img/1.jpg) no-repeat center top;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  font-family: Ubuntu, sans-serif;
  overflow-x: hidden;
}
.home .max-width {
  width: 100% !important;
  display: flex;
}
.home .max-width .row {
  margin-right: 0;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  color: #fc0;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  /* color: #fc0; */
  font-weight: 550;
  font-family: serif;
  text-transform: capitalize;
  background: linear-gradient(
    168deg,
    rgb(116 116 255) 29%,
    rgba(222, 67, 134, 1) 59%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home .home-content .resume {
  display: inline-block;
  background: 0 0;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  border-image: linear-gradient(45deg, rgb(116 116 255), rgba(222, 67, 134, 1))
    1;
}
/*about*/
.about .about-content .left {
  width: 40%;
  position: relative;
}
.about .about-content .left img {
  height: 70%;
  width: 70%;
  object-fit: cover;
  border-radius: 6px;
  z-index: 0;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #0000008c;
  overflow: hidden;
  height: 99%;
  width: 70%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 6px;
}
.left:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  box-shadow: 1px 1px 20px #000;
}
.text1 {
  color: #fff;
  position: absolute;
  top: 85%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.social-link1 ul li {
  display: inline-block;
  padding: 5px 0;
}
.social-link1 ul li a {
  color: #fff;
  text-decoration: none;
}
.social-link1 ul li a i::before {
  background: 0 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.4s ease-in-out;
  border: 1px solid #e4d8d7f1;
}

.social-link1 ul li a:hover i::before {
    background: #000;
    transform: rotate(360deg);
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
  }
.about .about-content .right {
  width: 60%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  background: linear-gradient(
    168deg,
    rgb(116 116 255) 29%,
    rgba(222, 67, 134, 1) 59%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background: #dc143c;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #dc143c;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: #dc143c;
  background: 0 0;
}
/* services*/
.services {
  background: #e7e7fb;
}
.services .carousel .card {
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
  color: #fff;
  z-index: 0;
}
.services .carousel .card:hover {
  background: #fc0;
  color: rgb(0, 0, 0);
}
.services .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.services .carousel .card:hover .box {
  transform: scale(1.1);
  color: #000;
}
.services .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: #fff;
  z-index: 0;
}
.services .carousel .card:hover .text {
  color: #000;
}
.services .carousel .card .text p {
  line-height: 5;
}
.text8 {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: #fff;
  z-index: 0;
}
.services .carousel .card:hover .text8 {
  color: #000;
}
.services-icon {
  font-size: 50px;
  color: #fc0;
  transition: color 0.3s ease;
}
.card:hover .services-icon {
  color: #000000;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: 0 !important;
  border-radius: 50%;
  border: 2px solid #000 !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: #000 !important;
}
svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}
svg.radial-progress circle {
  fill: transparent;
  stroke: #fff;
  stroke-dashoffset: 219.91148575129;
  stroke-width: 10;
}
svg.radial-progress circle.incomplete {
  opacity: 0.25;
}
svg.radial-progress circle.complete {
  stroke-dasharray: 219.91148575129;
}
svg.radial-progress text {
  fill: #fff;
  text-anchor: middle;
  color: #000;
}
/* skill*/
.skill-section {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(img/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #3c4761;
  text-transform: uppercase;
  text-align: center;
}
.skill-section h2 {
  color: #3c4761;
}
.skill-section h2:after {
  background: #dfe8ed;
}
.skill-section h3 {
  color: #3c4761;
}
.skill-section .box {
  margin-top: 15px;
}
.radial-progress circle {
  stroke-width: 4 !important;
}
.radial-progress text {
  fill: #3c4761 !important;
  font-weight: 300;
  font-size: 15px;
}
.HTML circle {
  stroke: #000 !important;
}
.CSS circle {
  stroke: #dc143c !important;
}
.BOOTSTRAP circle {
  stroke: #000 !important;
}
.JavaScript circle {
  stroke: #dc143c !important;
}
.jquery circle {
  stroke: #dc143c !important;
}
.PHOTOSHOP circle {
  stroke: #000 !important;
}
.LANDING-PAGE circle {
  stroke: #dc143c !important;
}
.responsive circle {
  stroke: #000 !important;
}
/* portfolio*/
.portfolio-section {
  text-transform: uppercase;
  text-align: center;
}
.portfolio-section h2 {
  color: #393939;
  font-size: 40px;
  font-weight: 700;
}
.portfolio-filter {
  margin: 20px 0;
  margin-bottom: 0;
}
.portfolio-filter button {
  background: #fc0;
  font-size: 20px;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  margin: 0 0;
  transition: 0.5s;
}
.portfolio-filter button:hover {
  cursor: pointer;
  background: #000;
  color: #fff;
}
.portfolio-img {
  width: 100%;
  height: auto;
  padding: 5px 10px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.portfolio-img:hover {
  transform: scale(1.07);
}
.for-overlay {
  position: relative;
}
.overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}
.for-overlay:hover .overlay1 {
  width: 100%;
  height: auto;
  margin-left: auto;
}
.text5 {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.text5 a {
  text-decoration: none;
  color: #fff;
  font-size: 35px;
}
.portfolio-under-text {
  font-size: 32px;
  text-transform: capitalize;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  background: #fff;
  width: 320px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}
.project-card:hover {
  transform: translateY(-5px);
}
.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.project-details {
  padding: 15px;
}
.project-details .btn {
  display: inline-block;
  text-decoration: none;
  background: #dc143c;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 14px;
}
.project-details .btn:hover {
  background: #b62945;
}
.badge {
  display: inline-block;
  background-color: #fc0;
  color: #fff;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
}
.project-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.project-details p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.portfolio-section .col:nth-child(4) {
  margin-left: 0;
}
.portfolio-section .col:nth-child(6) {
  margin-left: 0;
}
.portfolio-section .col:nth-child(8) {
  margin-left: 0;
}
.portfolio-section .col:nth-child(10) {
  margin-left: 0;
}
.portfolio-section .col:nth-child(12) {
  margin-left: 0;
}
.portfolio-section .col:nth-child(14) {
  margin-left: 0;
}
.portfolio-section .col:nth-child(16) {
  margin-left: 0;
}
.portfolio-section .col:nth-child(18) {
  margin-left: 0;
}
.portfolio-section .mixitup-control-active {
  background: #000;
  color: #fff;
}
.img-box {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-1.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box2 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-2.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box3 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-3.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box4 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-4.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box5 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-5.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box6 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-6.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box7 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-7.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box8 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-8.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box9 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-9.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box10 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-10.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box11 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-11.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box11 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-11.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box12 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-12.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box13 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-13.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box14 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-14.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box15 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-15.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box16 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-16.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}
.img-box17 {
  width: 100%;
  background-size: cover;
  height: 240px;
  background-image: url(img/img-17.png);
  background-position: top;
  border: 6px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  transition: 7s;
}

.img-box:hover {
  background-position: bottom;
}

.img-box2:hover {
  background-position: bottom;
}

.img-box3:hover {
  background-position: bottom;
}

.img-box4:hover {
  background-position: bottom;
}

.img-box5:hover {
  background-position: bottom;
}

.img-box6:hover {
  background-position: bottom;
}

.img-box7:hover {
  background-position: bottom;
}

.img-box8:hover {
  background-position: bottom;
}

.img-box9:hover {
  background-position: bottom;
}

.img-box10:hover {
  background-position: bottom;
}

.img-box11:hover {
  background-position: bottom;
}

.img-box12:hover {
  background-position: bottom;
}

.img-box13:hover {
  background-position: bottom;
}
.img-box14:hover {
  background-position: bottom;
}

.img-box15:hover {
  background-position: bottom;
}

.img-box16:hover {
  background-position: bottom;
}

.img-box17:hover {
  background-position: bottom;
}
/*testimonial*/
.testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url(img/5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  text-align: center;
  background-attachment: fixed;
  color: #fff;
}
.testimonial .title::before {
  background: #fff;
}
.testimonial .col:nth-child(3) {
  margin-left: 0;
}
.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2) {
  margin-top: 40px;
}
.testimonial .col:nth-child(3),
.testimonial .col:nth-child(4) {
  margin-top: 80px;
}

.clint-photo {
  width: 97%;
  float: none;
  text-align: center;
}
.clint-photo img {
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 15px;
}
.clint-review {
  width: 97%;
  float: none;
  text-align: center;
}
.clint-review p {
  font-size: 21px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 10px;
  width: 80%;
  margin-left: 10%;
}
.clint-review .role {
  color: #fc0;
  font-size: 20px;
}
/*faq*/

.acc h3 {
  font-size: 25px;
  background-color: #dc143c;
  color: #fff;
  padding: 15px;
  margin: 0;
  cursor: pointer;
  font-family: serif;
  letter-spacing: 2px;
  position: relative;
  cursor: pointer;
  border: 2px solid #000;
  margin-bottom: 2px;
}
.acc h3:after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 40px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.acc.active h3:after {
  content: "-";
  transition: 0.3s;
}
.content {
  background-color: #fff;
  display: none;
}
.content-inner {
  padding: 15px;
  background-color: #000;
  color: #fff;
  margin-bottom: 2px;
}
.content * {
  margin-top: 0;
  line-height: 1.5;
}
.acc {
  border-bottom: 1px solid #fff;
}

/*contact*/
.contact-title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: Ubuntu, sans-serif;
  text-transform: capitalize;
  color: #000;
}
.contact-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 180px;
  height: 3px;
  background: rgb(0, 0, 0);
  transform: translateX(-50%);
}
.contact-title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #dc143c;
  padding: 0 5px;
  background: #000 !important;
  transform: translateX(-50%);
}
.container1 {
  position: relative;
  width: 100%;
  min-height: 70vh;
  padding: 10px;
  background-color: #f6f6f600;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  width: 100%;
  max-width: 1100px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact-form {
  background-color: #dc143c;
  position: relative;
}
.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #dc143c;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}
form {
  padding: 2.3rem 2.2rem;
  z-index: 0;
  overflow: hidden;
  position: relative;
}
.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}
.input-container {
  position: relative;
  margin: 1rem 0;
}
.input {
  width: 100%;
  outline: 0;
  border: 2px solid #e2e0e0;
  background: 0 0;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}
textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 12px;
  resize: none;
  overflow-y: auto;
}
.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fafafa;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}
.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}
.btn {
  padding: 0.6rem 1.2rem;
  background-color: #fff;
  border: 2px solid #fafafa;
  font-size: 27px;
  color: #dc143c;
  line-height: 1;
  border-radius: 25px;
  outline: 0;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  font-weight: 400;
}
.btn:hover {
  background-color: transparent;
  color: #fff;
}
.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}
.input-container span:after,
.input-container span:before {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #dc143c;
  top: 50%;
  transform: translateY(-50%);
}
.input-container span:before {
  left: 50%;
}
.input-container span:after {
  right: 50%;
}
.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}
.input-container.focus span:after,
.input-container.focus span:before {
  width: 50%;
  opacity: 1;
}
.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}
.contact-info .title {
  color: #000;
}
.text {
  color: #333;
  margin: 1.5rem 0 2rem 0;
}
.information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}
.icon {
  margin-right: 0.7rem;
  color: #dc143c;
  font-size: 28px;
}
.icon-p {
  font-size: 18px;
  color: #000;
  letter-spacing: 1.1px;
}
.social-media {
  padding: 2rem 0 0 0;
}
.social-media p {
  color: #000;
}
.social-icons {
  display: flex;
  margin-top: 0.5rem;
}
.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #cf2547, #f03);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}
.social-icons a:hover {
  transform: scale(1.25);
  box-shadow: 3px 3px 1.5px #000;
  border-radius: 7px;
}
.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #dc143c;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}
.square {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(181%, 11%);
  opacity: 0.2;
  background: #dc143c;
}
footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: #dc143c;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
  color: #dc143c;
  font-style: italic;
}
